<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Empleados')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Employee')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Nuevo Empleado</h2>
                    <hr/>
                    <form th:action="@{'/employee/save'}" method="post">
                        <div class="mb-3">
                            <label for="firstname" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="firstname" id="firstname"/>
                        </div>
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Apellido</label>
                            <input type="text" class="form-control" name="lastname" id="lastname"/>
                        </div>
                        <div class="mb-3">
                            <label for="title" class="form-label">Título</label>
                            <input type="text" class="form-control" name="title" id="title"/>
                        </div>
                        <div class="mb-3">
                            <label for="titleofcourtesy" class="form-label">Título de cortesía</label>
                            <input type="text" class="form-control" name="titleofcourtesy" placeholder="Mr. Ms. Dr. etc"
                                   id="titleofcourtesy"/>
                        </div>
                        <div class="mb-3">
                            <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                            <input type="text" class="form-control" name="birthdateStr" placeholder="dd-MM-yyyy"
                                   id="birthdate"/>
                        </div>
                        <div class="mb-3">
                            <label for="hiredate" class="form-label">Fecha de ingreso</label>
                            <input type="text" class="form-control" name="hiredateStr" placeholder="dd-MM-yyyy"
                                   id="hiredate"/>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Dirección</label>
                            <input type="text" class="form-control" name="address" id="address"/>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" name="city" id="city"/>
                        </div>
                        <div class="mb-3">
                            <label for="region" class="form-label">Región</label>
                            <input type="text" class="form-control" name="region" id="region"/>
                        </div>
                        <div class="mb-3">
                            <label for="postalcode" class="form-label">Código postal</label>
                            <input type="text" class="form-control" name="postalcode" id="postalcode"/>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Pais</label>
                            <input type="text" class="form-control" name="country" id="country"/>
                        </div>
                        <div class="mb-3">
                            <label for="homephone" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" name="homephone" id="homephone"/>
                        </div>
                        <div class="mb-3">
                            <label for="extension" class="form-label">Anexo</label>
                            <input type="text" class="form-control" name="extension" id="extension"/>
                        </div>
                        <div class="mb-3">
                            <label for="notes" class="form-label">Notas</label>
                            <input type="text" class="form-control" name="notes" id="notes" requiered/>
                        </div>
                        <div class="mb-3">
                            <label for="salary" class="form-label">Salario</label>
                            <input type="number" class="form-control" name="salary" id="salary"/>
                        </div>
                        <div class="mb-3">
                            <label for="manager" class="form-label">Jefe</label>
                            <select class="form-select" name="manager" id="manager">
                                <option th:each="jefe : ${listaJefes}"
                                        th:text="|${jefe.firstname} ${jefe.lastname==null?'':jefe.lastname}|"
                                        th:value="${jefe.id}"></option>
                            </select>
                        </div>
                        <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>