<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Transportistas')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Shipper')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Editar Transportista</h2>
                    <hr/>
                    <form method="post" th:action="@{'/shipper/save'}" th:object="${shipper}">
                        <input th:field="*{shipperId}" type="hidden"/>
                        <div class="mb-3">
                            <label class="form-label">Nombre de la compañía</label>
                            <input th:field="*{companyName}" type="text" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Teléfono</label>
                            <input th:field="*{phone}" type="text" class="form-control"/>
                        </div>
                        <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>