<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Transportistas')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Shipper')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2 th:text="${edicion?'Editar transportista':'Nuevo Transportista'}">Nuevo Transportista</h2>
                    <div th:if="${errorCompany != null}" th:text="${errorCompany}" class="alert alert-danger"
                         role="alert"></div>
                    <hr/>
                    <form method="post" th:object="${shipper}" th:action="@{'/shipper/save'}">
                        <input type="hidden" th:field="*{shipperId}">
                        <div class="mb-3">
                            <label for="companyName" class="form-label">Nombre de la compañía</label>
                            <input type="text" th:field="*{companyName}" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" th:field="*{phone}">
                        </div>
                        <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
                        <button th:text="${edicion?'Editar':'Registrar'}" type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>