<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Transportistas')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Shipper')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Nuevo Transportista</h2>
                    <div th:if="${errorCompany != null}" th:text="${errorCompany}" class="alert alert-danger"
                         role="alert"></div>
                    <hr/>
                    <form method="post" th:action="@{'/shipper/save'}">
                        <div class="mb-3">
                            <label for="companyName" class="form-label">Nombre de la compañía</label>
                            <input name="companyName" type="text" class="form-control" id="companyName">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Teléfono</label>
                            <input name="phone" type="text" class="form-control" id="phone">
                        </div>
                        <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>