<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Productos')}"></head>
    <body>
        <main>
            <div class="container px-4 pb-5">
                <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav>
                <h1 class="pb-2 border-bottom">Lista Productos</h1>
                <a class="btn btn-primary mt-4 mb-4" th:href="@{'/product/new'}">Nuevo Producto</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Categoría</th>
                            <th>Proveedor</th>
                            <th>Precio Unitario</th>
                            <th>Stock</th>
                            <th>¿Descontinuado?</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product, info : ${listaProductos}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${product.productname}"></td>
                            <td th:text="${product.category.categoryname}"></td>
                            <td th:text="${product.supplier.companyname}"></td>
                            <td th:text="${product.unitprice}"></td>
                            <td th:text="${product.unitsinstock}"></td>
                            <td th:text="${product.discontinued?'si':'no'}"></td>
                            <td><a class="btn btn-primary"
                                   th:href="@{'/product/edit' + '?id=' + ${product.id}}">Editar</a>
                            </td>
                            <td><a class="btn btn-danger"
                                   th:href="@{'/product/delete' + '?id=' + ${product.id}}">Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>
